{% extends 'ilbdaicl/base.html' %}
{% load static %}

{% block additonalBodyTop %}
    <div id="loader"></div>
{% endblock %}


    {% block mainBody %}
        <div id="content"  class="container" style="visibility: hidden;">

            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <div id="carousel-example-generic" class="carousel slide">
                        <h1 class="brand-name"><small>US Racial Hate Map</small>
                        </h1>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div id="geochart" class="item active"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="visualization" class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>

                        <h2 class="intro-text text-center">Visualizing your Dat(a)
                            <strong>with D3 illistration</strong>
                        </h2>
                        <hr>
                        <div class="col-lg-12">

                            <div class="col-lg-6 col-lg-offset-1" style=" margin-top:45px ">
                                <h3>Total Percentage by State </h3>
                            </div>

                            <div class=" col-md-offset-1 col-lg-5">
                                <hr>
                                <div id="chart1"></div>

                            </div>
                            <!--<hr class="visible-xs">-->
                            <div class="col-md-offset-1 col-lg-5" style="margin-left: 25px; margin-top:75px">
                                <p> Figure 1 depicts the percentage of hate per day over the last couple of days per state. The x coordinate is a date range and the y coordinate is the percentage of hate tweets. </p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6 col-lg-offset-1" style=" margin-top:75px ">
                                <h3>Hate vs Non-Hate for each State </h3>
                            </div>
                            <div class=" col-md-offset-1 col-lg-5">
                            <hr>
                                <div id="chart2"></div>
                            </div>
                            <hr class="visible-xs">
                            <div class="col-md-offset-1 col-lg-5" style="margin-left: 25px; margin-top:90px ">
                                <p> Figure 2 provides a vizualization for the total percentage of hate, shown in red, versus the total percentage of non-hate, shown in blue. When the user selects a state on the US map above, this Figure will be updated to show the percentages for each of those states.</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6 col-lg-offset-1" style=" margin-top:75px ">
                                <h3>Total Hate Count vs Total Non Hate </h3>
                            </div>
                            <div class=" col-md-offset-1 col-lg-5">
                            <hr>
                                <div id="chart3"></div>
                            </div>
                            <hr class="visible-xs">
                            <div class="col-md-offset-1 col-lg-5" style="margin-left: 25px; margin-top:90px ">
                                <p> Figure 3 illustrates the total count percentage of hate tweets per state, shown in purple, relative to the total count percentage of non hate tweets of the selected state, shown in red. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container -->

    {% endblock %}

    {% block additionalBodyBottom %}

    <script src="{% static "js/http.js" %}"></script>
    <script src="{% static "js/factory.js" %}"></script>
    <script src="{% static "js/charts.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>
    {% endblock %}
