{% extends 'ilbdaicl/base.html' %}
{% load static %}

    {% block mainBody %}
        <div class="container">

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">About
                            <strong>Tweet Dat(a) Hate</strong>
                        </h2>
                        <hr>
                    </div>
                    <div class="col-md-6" style="margin-top: 40px">
                        <!-- image obtained from: http://blogthinkbig.com/telefonica-potencia-big-data-for-social-good-colombia/ -->
                        <img class="img-responsive img-border-left" src="{% static "img/slide-2.jpg" %}" alt="">
                    </div>
                    <div class="col-md-6">
                            <p> Our project analyzes the percentage of hate or racists tweets relative to the total number of tweets per state. Given recent political sentiments, societal changes, and the prevalence of technology, we wanted to see what feelings were reflected on social media.</p>
                            <p> We believe that Twitter allows people to easily express opinions publicly, and as such, there would be a large amount of data to work with.</p>
                            <p> Ultimately our goal was to create a full-stack of streaming data from Twitter’s API to process the tweets and store them into a database. We score the tweets based on a sentiment analysis, and reflect these scores on our visualization home page.</p>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">Our
                            <strong>Team</strong>
                        </h2>
                        <hr>
                    </div>

                    <div class="container">
                        <!-- Team Featurette -->
                        <div class="featurette" id="about">
                            <div class="col-md-offset-1 col-md-5">

                                <h3 class="featurette-heading">Nguyen
                                    <span class="text-muted">C.</span>
                                </h3>
                                <p class="lead">MSCS, First Year. </p>

                                <h3 class="featurette-heading">Marquez
                                    <span class="text-muted">J.</span>
                                </h3>
                                <p class="lead">BS Junior.</p>

                                <h3 class="featurette-heading">Womack
                                    <span class="text-muted">A.</span>
                                </h3>
                                <p class="lead">MSCS, Second Year.</p>

                                <h3 class="featurette-heading">Swisher
                                    <span class="text-muted">M.</span>
                                </h3>
                                <p class="lead">BS Senior.</p>

                                <h3 class="featurette-heading">Eakins
                                    <span class="text-muted">E.</span>
                                </h3>
                                <p class="lead">MSCS, Second Year.</p>

                            </div>
                            <div class="col-md-5">
                                <img class="img-circle pull-right" style="height: 500px; width: 500px" src="{% static "img/team.jpg" %}">
                            </div>                        
                        </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our Project
                        <strong>Project (Dev)elopment</strong>
                    </h2>
                    <hr>
                    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1FjTegS0OpR5ephLEH0BW4qSlttPri2ilJjXdFH9Zq8I&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our Project
                        <strong>(Inform)ation</strong>
                    </h2>
                    <hr>
                </div>

                <div class="container">     
                            <!-- Contact Section -->
                    <section id="contact" class="container content-section text-center">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                               
                                <p>Links to our team pages for Pivotal Tracker: Agile Project Managment, Github: Software Development Platform, and our class Twitter page: It's What's Happening. </p>
                                <ul class="list-inline banner-social-buttons">
                                    <li>
                                        <a href="https://github.com/CUBigDataClass/I-Like-Big-Data-and-I-Cannot-Lie" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                    </li>
                                    <li>
                                        <a href="https://www.pivotaltracker.com/n/projects/1972663" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Pivotal Tracker</span></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/BigDataCU" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </section>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    {% endblock %}
