{% extends 'ilbdaicl/base.html' %}
{% load static %}

    {% block mainBody %}
        <div class="container">

            <div class="row">
                <div class="box" id="techs">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">Incorporated
                            <strong>Technologies </strong>
                        </h2>
                        <hr>
                    </div>
                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/github.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>GitHub</h5>
                                <text>We used GitHub as our main code repository for version control.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/pivotaltracker.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Pivotal Tracker</h5>
                                <text>Pivotal Tracker served as our project management tool in an Agile environment.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/cassandra.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Cassandra</h5>
                                <text>Cassandra stored the tweet data after filtering.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/storm.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Storm</h5>
                                <text>Storm handled the queuing of our Twitter API data stream and also handled the processing of the data stream.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/maven.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Maven</h5>
                                <text>Maven compiled our Cassandra database and our Storm package.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/aws.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Amazon Web Services</h5>
                                <text>AWS hosted the servers for all of our components.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/twitter.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Twitter</h5>
                                <text>Using Twitter's API, we pulled tweets to filter for hateful sentiment across the country.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/json.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>JSON</h5>
                                <text>JSON lets us transfer data easily in a standard data structure.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/python.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Python</h5>
                                <text>We used Python everywhere. Our sentiment analysis and its Storm bolt is in Python, and we used Python to talk to the database. Our front-end web-server also uses Python.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/textblob.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>TextBlob</h5>
                                <text>TextBlob, a Python library, allows us to do sentiment analysis on the content of tweets.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/django.png" %}" width="75px" style="padding-top:15px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Django</h5>
                                <text>Django Unchained. 'Nuff said.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/c3js.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>C3 JS</h5>
                                <text>C3JS rendered the visualization graphs of our tweet data.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/elm.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>Elm</h5>
                                <text>We used Elm in conjunction with HTMl, JavaScript, and CSS to create the webpage.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/html.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>HTML</h5>
                                <text>We used HTML in conjunction with Elm, JavaScript, and CSS to create the webpage.</text>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-bottom:5%">
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/js.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>JavaScript</h5>
                                <text>We used JavaScript for the interactive elements for the webpage.</text>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-2">
                                <img src="{% static "img/gnip.png" %}" width="75px">
                            </div>
                            <div class="col-lg-10">
                                <h5>GNIP</h5>
                                <text>We moved to using GNIP to take advantage of their aggregates.</text>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 col-lg-offset-5">
                        <!-- <h2>Technologies
                            <br>
                            <small>May 2017</small>
                        </h2>
                        <p>Technologies that were used to complete our project.</p> -->
                        <a href="#" class="btn btn-default btn-lg">Return to Top</a>
                    </div>

                 <!--   <div class="col-lg-12 text-center">
                        <ul class="pager">
                            <li class="previous"><a href="#">&larr; Older</a>
                            </li>
                            <li class="next"><a href="#">Newer &rarr;</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>


        </div>
        <!-- /.container -->
    {% endblock %}
